::selection {
  color: rgb(255, 255, 255);
  background-color: rgba(134, 0, 109, 0.6);
}
.flex {
  display: flex;
}
.fcenter {
  justify-content: center;
  align-items: center;
}
.fjcenter {
  justify-content: center;
}
.facenter {
  align-items: center;
}
.fsb {
  justify-content: space-between;
}
.fsa {
  justify-content: space-around;
}
.fclmn {
  flex-direction: column;
}
.m1 {
  margin: 15px;
}
.p1 {
  padding: 15px;
}
.fMerriweather {
  font-family: "Merriweather", serif;
}
.fnoto {
  font-family: "Noto Serif", serif;
}
.fnunito {
  font-family: "Nunito", sans-serif;
}
.foswald {
  font-family: "Oswald", sans-serif;
}
.froboto {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.posRel {
  position: relative;
}
.posAbs {
  position: absolute;
}
.posFxd {
  position: fixed;
}
